.content .font-size-10,
.font-size-10 {
  font-size: 10px;
}

.content .font-size-11,
.font-size-11 {
  font-size: 11px;
}

.content .font-size-12,
.font-size-12 {
  font-size: 12px;
}

.content .font-size-13,
.font-size-13 {
  font-size: 13px;
}

.content .font-size-14,
.font-size-14 {
  font-size: 14px;
}

.content .font-size-15,
.font-size-15 {
  font-size: 15px;
}

.content .font-size-16,
.font-size-16 {
  font-size: 16px;
}

.content .font-size-17,
.font-size-17 {
  font-size: 17px;
}

.content .font-size-18,
.font-size-18 {
  font-size: 18px;
}

.content .font-size-19,
.font-size-19 {
  font-size: 19px;
}

.content .font-size-20,
.font-size-20 {
  font-size: 20px;
}

.content .font-size-21,
.font-size-21 {
  font-size: 21px;
}

.content .font-size-22,
.font-size-22 {
  font-size: 22px;
}

.content .font-size-24,
.font-size-24 {
  font-size: 24px;
}

.content .font-size-26,
.font-size-26 {
  font-size: 26px;
}

.content .font-size-28,
.font-size-28 {
  font-size: 28px;
}

.content .font-size-30,
.font-size-30 {
  font-size: 30px;
}

.content .font-size-32,
.font-size-32 {
  font-size: 32px;
}

.content .font-size-34,
.font-size-34 {
  font-size: 34px;
}

.content .font-size-35,
.font-size-35 {
  font-size: 35px;
}

.content .font-size-36,
.font-size-36 {
  font-size: 36px;
}

.content .font-size-38,
.font-size-38 {
  font-size: 38px;
}

.content .font-size-40,
.font-size-40 {
  font-size: 40px;
}

.content .font-size-42,
.font-size-42 {
  font-size: 42px;
}

.content .font-size-44,
.font-size-44 {
  font-size: 44px;
}

.content .font-size-46,
.font-size-46 {
  font-size: 46px;
}

.content .font-size-48,
.font-size-48 {
  font-size: 48px;
}

.content .font-size-50,
.font-size-50 {
  font-size: 50px;
}

.content .font-size-60,
.font-size-60 {
  font-size: 60px;
}

.content .font-size-1-15x,
.font-size-1-15x {
  font-size: 1.15em;
}

.content .font-size-1-25x,
.font-size-1-25x {
  font-size: 1.25em;
}

.content .font-size-1-5x,
.font-size-1-5x {
  font-size: 1.5em;
}

.content .font-size-1-6x,
.font-size-1-6x {
  font-size: 1.6em;
}

.content .font-size-1-75x,
.font-size-1-75x {
  font-size: 1.75em;
}

.content .font-size-2x,
.font-size-2x {
  font-size: 2em;
}

.content .font-size-2-15x,
.font-size-2-15x {
  font-size: 2.15em;
}

.content .font-size-2-25x,
.font-size-2-25x {
  font-size: 2.25em;
}

.content .font-size-2-5x,
.font-size-2-5x {
  font-size: 2.5em;
}

.content .font-size-2-6x,
.font-size-2-6x {
  font-size: 2.6em;
}

.content .font-size-2-75x,
.font-size-2-75x {
  font-size: 2.75em;
}

.content .font-size-3x,
.font-size-3x {
  font-size: 3em;
}

.content .font-size-3-15x,
.font-size-3-15x {
  font-size: 3.15em;
}

.content .font-size-3-3x,
.font-size-3-3x {
  font-size: 3.3em;
}
@media (min-width: 576px) {
  .content .font-size-sm-10,
  .font-size-sm-10 {
    font-size: 10px;
  }

  .content .font-size-sm-11,
  .font-size-sm-11 {
    font-size: 11px;
  }

  .content .font-size-sm-12,
  .font-size-sm-12 {
    font-size: 12px;
  }

  .content .font-size-sm-13,
  .font-size-sm-13 {
    font-size: 13px;
  }

  .content .font-size-sm-14,
  .font-size-sm-14 {
    font-size: 14px;
  }

  .content .font-size-sm-15,
  .font-size-sm-15 {
    font-size: 15px;
  }

  .content .font-size-sm-16,
  .font-size-sm-16 {
    font-size: 16px;
  }

  .content .font-size-sm-17,
  .font-size-sm-17 {
    font-size: 17px;
  }

  .content .font-size-sm-18,
  .font-size-sm-18 {
    font-size: 18px;
  }

  .content .font-size-sm-19,
  .font-size-sm-19 {
    font-size: 19px;
  }

  .content .font-size-sm-20,
  .font-size-sm-20 {
    font-size: 20px;
  }

  .content .font-size-sm-21,
  .font-size-sm-21 {
    font-size: 21px;
  }

  .content .font-size-sm-22,
  .font-size-sm-22 {
    font-size: 22px;
  }

  .content .font-size-sm-24,
  .font-size-sm-24 {
    font-size: 24px;
  }

  .content .font-size-sm-26,
  .font-size-sm-26 {
    font-size: 26px;
  }

  .content .font-size-sm-28,
  .font-size-sm-28 {
    font-size: 28px;
  }

  .content .font-size-sm-30,
  .font-size-sm-30 {
    font-size: 30px;
  }

  .content .font-size-sm-32,
  .font-size-sm-32 {
    font-size: 32px;
  }

  .content .font-size-sm-34,
  .font-size-sm-34 {
    font-size: 34px;
  }

  .content .font-size-sm-35,
  .font-size-sm-35 {
    font-size: 35px;
  }

  .content .font-size-sm-36,
  .font-size-sm-36 {
    font-size: 36px;
  }

  .content .font-size-sm-38,
  .font-size-sm-38 {
    font-size: 38px;
  }

  .content .font-size-sm-40,
  .font-size-sm-40 {
    font-size: 40px;
  }

  .content .font-size-sm-42,
  .font-size-sm-42 {
    font-size: 42px;
  }

  .content .font-size-sm-44,
  .font-size-sm-44 {
    font-size: 44px;
  }

  .content .font-size-sm-46,
  .font-size-sm-46 {
    font-size: 46px;
  }

  .content .font-size-sm-48,
  .font-size-sm-48 {
    font-size: 48px;
  }

  .content .font-size-sm-50,
  .font-size-sm-50 {
    font-size: 50px;
  }

  .content .font-size-sm-60,
  .font-size-sm-60 {
    font-size: 60px;
  }

  .content .font-size-sm-1-15x,
  .font-size-sm-1-15x {
    font-size: 1.15em;
  }

  .content .font-size-sm-1-25x,
  .font-size-sm-1-25x {
    font-size: 1.25em;
  }

  .content .font-size-sm-1-5x,
  .font-size-sm-1-5x {
    font-size: 1.5em;
  }

  .content .font-size-sm-1-6x,
  .font-size-sm-1-6x {
    font-size: 1.6em;
  }

  .content .font-size-sm-1-75x,
  .font-size-sm-1-75x {
    font-size: 1.75em;
  }

  .content .font-size-sm-2x,
  .font-size-sm-2x {
    font-size: 2em;
  }

  .content .font-size-sm-2-15x,
  .font-size-sm-2-15x {
    font-size: 2.15em;
  }

  .content .font-size-sm-2-25x,
  .font-size-sm-2-25x {
    font-size: 2.25em;
  }

  .content .font-size-sm-2-5x,
  .font-size-sm-2-5x {
    font-size: 2.5em;
  }

  .content .font-size-sm-2-6x,
  .font-size-sm-2-6x {
    font-size: 2.6em;
  }

  .content .font-size-sm-2-75x,
  .font-size-sm-2-75x {
    font-size: 2.75em;
  }

  .content .font-size-sm-3x,
  .font-size-sm-3x {
    font-size: 3em;
  }

  .content .font-size-sm-3-15x,
  .font-size-sm-3-15x {
    font-size: 3.15em;
  }

  .content .font-size-sm-3-3x,
  .font-size-sm-3-3x {
    font-size: 3.3em;
  }
}
@media (min-width: 768px) {
  .content .font-size-md-10,
  .font-size-md-10 {
    font-size: 10px;
  }

  .content .font-size-md-11,
  .font-size-md-11 {
    font-size: 11px;
  }

  .content .font-size-md-12,
  .font-size-md-12 {
    font-size: 12px;
  }

  .content .font-size-md-13,
  .font-size-md-13 {
    font-size: 13px;
  }

  .content .font-size-md-14,
  .font-size-md-14 {
    font-size: 14px;
  }

  .content .font-size-md-15,
  .font-size-md-15 {
    font-size: 15px;
  }

  .content .font-size-md-16,
  .font-size-md-16 {
    font-size: 16px;
  }

  .content .font-size-md-17,
  .font-size-md-17 {
    font-size: 17px;
  }

  .content .font-size-md-18,
  .font-size-md-18 {
    font-size: 18px;
  }

  .content .font-size-md-19,
  .font-size-md-19 {
    font-size: 19px;
  }

  .content .font-size-md-20,
  .font-size-md-20 {
    font-size: 20px;
  }

  .content .font-size-md-21,
  .font-size-md-21 {
    font-size: 21px;
  }

  .content .font-size-md-22,
  .font-size-md-22 {
    font-size: 22px;
  }

  .content .font-size-md-24,
  .font-size-md-24 {
    font-size: 24px;
  }

  .content .font-size-md-26,
  .font-size-md-26 {
    font-size: 26px;
  }

  .content .font-size-md-28,
  .font-size-md-28 {
    font-size: 28px;
  }

  .content .font-size-md-30,
  .font-size-md-30 {
    font-size: 30px;
  }

  .content .font-size-md-32,
  .font-size-md-32 {
    font-size: 32px;
  }

  .content .font-size-md-34,
  .font-size-md-34 {
    font-size: 34px;
  }

  .content .font-size-md-35,
  .font-size-md-35 {
    font-size: 35px;
  }

  .content .font-size-md-36,
  .font-size-md-36 {
    font-size: 36px;
  }

  .content .font-size-md-38,
  .font-size-md-38 {
    font-size: 38px;
  }

  .content .font-size-md-40,
  .font-size-md-40 {
    font-size: 40px;
  }

  .content .font-size-md-42,
  .font-size-md-42 {
    font-size: 42px;
  }

  .content .font-size-md-44,
  .font-size-md-44 {
    font-size: 44px;
  }

  .content .font-size-md-46,
  .font-size-md-46 {
    font-size: 46px;
  }

  .content .font-size-md-48,
  .font-size-md-48 {
    font-size: 48px;
  }

  .content .font-size-md-50,
  .font-size-md-50 {
    font-size: 50px;
  }

  .content .font-size-md-52,
  .font-size-md-52 {
    font-size: 52px;
  }

  .content .font-size-md-60,
  .font-size-md-60 {
    font-size: 60px;
  }

  .content .font-size-md-72,
  .font-size-md-72 {
    font-size: 72px;
  }

  .content .font-size-md-1-15x,
  .font-size-md-1-15x {
    font-size: 1.15em;
  }

  .content .font-size-md-1-25x,
  .font-size-md-1-25x {
    font-size: 1.25em;
  }

  .content .font-size-md-1-5x,
  .font-size-md-1-5x {
    font-size: 1.5em;
  }

  .content .font-size-md-1-6x,
  .font-size-md-1-6x {
    font-size: 1.6em;
  }

  .content .font-size-md-1-75x,
  .font-size-md-1-75x {
    font-size: 1.75em;
  }

  .content .font-size-md-2x,
  .font-size-md-2x {
    font-size: 2em;
  }

  .content .font-size-md-2-15x,
  .font-size-md-2-15x {
    font-size: 2.15em;
  }

  .content .font-size-md-2-25x,
  .font-size-md-2-25x {
    font-size: 2.25em;
  }

  .content .font-size-md-2-5x,
  .font-size-md-2-5x {
    font-size: 2.5em;
  }

  .content .font-size-md-2-6x,
  .font-size-md-2-6x {
    font-size: 2.6em;
  }

  .content .font-size-md-2-75x,
  .font-size-md-2-75x {
    font-size: 2.75em;
  }

  .content .font-size-md-3x,
  .font-size-md-3x {
    font-size: 3em;
  }

  .content .font-size-md-3-15x,
  .font-size-md-3-15x {
    font-size: 3.15em;
  }

  .content .font-size-md-3-3x,
  .font-size-md-3-3x {
    font-size: 3.3em;
  }
}
@media (min-width: 992px) {
  .content .font-size-lg-10,
  .font-size-lg-10 {
    font-size: 10px;
  }

  .content .font-size-lg-11,
  .font-size-lg-11 {
    font-size: 11px;
  }

  .content .font-size-lg-12,
  .font-size-lg-12 {
    font-size: 12px;
  }

  .content .font-size-lg-13,
  .font-size-lg-13 {
    font-size: 13px;
  }

  .content .font-size-lg-14,
  .font-size-lg-14 {
    font-size: 14px;
  }

  .content .font-size-lg-15,
  .font-size-lg-15 {
    font-size: 15px;
  }

  .content .font-size-lg-16,
  .font-size-lg-16 {
    font-size: 16px;
  }

  .content .font-size-lg-17,
  .font-size-lg-17 {
    font-size: 17px;
  }

  .content .font-size-lg-18,
  .font-size-lg-18 {
    font-size: 18px;
  }

  .content .font-size-lg-19,
  .font-size-lg-19 {
    font-size: 19px;
  }

  .content .font-size-lg-20,
  .font-size-lg-20 {
    font-size: 20px;
  }

  .content .font-size-lg-21,
  .font-size-lg-21 {
    font-size: 21px;
  }

  .content .font-size-lg-22,
  .font-size-lg-22 {
    font-size: 22px;
  }

  .content .font-size-lg-24,
  .font-size-lg-24 {
    font-size: 24px;
  }

  .content .font-size-lg-26,
  .font-size-lg-26 {
    font-size: 26px;
  }

  .content .font-size-lg-28,
  .font-size-lg-28 {
    font-size: 28px;
  }

  .content .font-size-lg-30,
  .font-size-lg-30 {
    font-size: 30px;
  }

  .content .font-size-lg-32,
  .font-size-lg-32 {
    font-size: 32px;
  }

  .content .font-size-lg-34,
  .font-size-lg-34 {
    font-size: 34px;
  }

  .content .font-size-lg-35,
  .font-size-lg-35 {
    font-size: 35px;
  }

  .content .font-size-lg-36,
  .font-size-lg-36 {
    font-size: 36px;
  }

  .content .font-size-lg-38,
  .font-size-lg-38 {
    font-size: 38px;
  }

  .content .font-size-lg-40,
  .font-size-lg-40 {
    font-size: 40px;
  }

  .content .font-size-lg-42,
  .font-size-lg-42 {
    font-size: 42px;
  }

  .content .font-size-lg-44,
  .font-size-lg-44 {
    font-size: 44px;
  }

  .content .font-size-lg-46,
  .font-size-lg-46 {
    font-size: 46px;
  }

  .content .font-size-lg-48,
  .font-size-lg-48 {
    font-size: 48px;
  }

  .content .font-size-lg-50,
  .font-size-lg-50 {
    font-size: 50px;
  }

  .content .font-size-52,
  .font-size-52 {
    font-size: 52px;
  }

  .content .font-size-lg-60,
  .font-size-lg-60 {
    font-size: 60px;
  }

  .content .font-size-lg-72,
  .font-size-lg-72 {
    font-size: 72px;
  }

  .content .font-size-lg-1-15x,
  .font-size-lg-1-15x {
    font-size: 1.15em;
  }

  .content .font-size-lg-1-25x,
  .font-size-lg-1-25x {
    font-size: 1.25em;
  }

  .content .font-size-lg-1-5x,
  .font-size-lg-1-5x {
    font-size: 1.5em;
  }

  .content .font-size-lg-1-6x,
  .font-size-lg-1-6x {
    font-size: 1.6em;
  }

  .content .font-size-lg-1-75x,
  .font-size-lg-1-75x {
    font-size: 1.75em;
  }

  .content .font-size-lg-2x,
  .font-size-lg-2x {
    font-size: 2em;
  }

  .content .font-size-lg-2-15x,
  .font-size-lg-2-15x {
    font-size: 2.15em;
  }

  .content .font-size-lg-2-25x,
  .font-size-lg-2-25x {
    font-size: 2.25em;
  }

  .content .font-size-lg-2-5x,
  .font-size-lg-2-5x {
    font-size: 2.5em;
  }

  .content .font-size-lg-2-6x,
  .font-size-lg-2-6x {
    font-size: 2.6em;
  }

  .content .font-size-lg-2-75x,
  .font-size-lg-2-75x {
    font-size: 2.75em;
  }

  .content .font-size-lg-3x,
  .font-size-lg-3x {
    font-size: 3em;
  }

  .content .font-size-lg-3-15x,
  .font-size-lg-3-15x {
    font-size: 3.15em;
  }

  .content .font-size-lg-3-3x,
  .font-size-lg-3-3x {
    font-size: 3.3em;
  }
}
@media (min-width: 1200px) {
  .content .font-size-xl-10,
  .font-size-xl-10 {
    font-size: 10px;
  }

  .content .font-size-xl-11,
  .font-size-xl-11 {
    font-size: 11px;
  }

  .content .font-size-xl-12,
  .font-size-xl-12 {
    font-size: 12px;
  }

  .content .font-size-xl-13,
  .font-size-xl-13 {
    font-size: 13px;
  }

  .content .font-size-xl-14,
  .font-size-xl-14 {
    font-size: 14px;
  }

  .content .font-size-xl-15,
  .font-size-xl-15 {
    font-size: 15px;
  }

  .content .font-size-xl-16,
  .font-size-xl-16 {
    font-size: 16px;
  }

  .content .font-size-xl-17,
  .font-size-xl-17 {
    font-size: 17px;
  }

  .content .font-size-xl-18,
  .font-size-xl-18 {
    font-size: 18px;
  }

  .content .font-size-xl-19,
  .font-size-xl-19 {
    font-size: 19px;
  }

  .content .font-size-xl-20,
  .font-size-xl-20 {
    font-size: 20px;
  }

  .content .font-size-xl-21,
  .font-size-xl-21 {
    font-size: 21px;
  }

  .content .font-size-xl-22,
  .font-size-xl-22 {
    font-size: 22px;
  }

  .content .font-size-xl-24,
  .font-size-xl-24 {
    font-size: 24px;
  }

  .content .font-size-xl-26,
  .font-size-xl-26 {
    font-size: 26px;
  }

  .content .font-size-xl-28,
  .font-size-xl-28 {
    font-size: 28px;
  }

  .content .font-size-xl-30,
  .font-size-xl-30 {
    font-size: 30px;
  }

  .content .font-size-xl-32,
  .font-size-xl-32 {
    font-size: 32px;
  }

  .content .font-size-xl-34,
  .font-size-xl-34 {
    font-size: 34px;
  }

  .content .font-size-xl-35,
  .font-size-xl-35 {
    font-size: 35px;
  }

  .content .font-size-xl-36,
  .font-size-xl-36 {
    font-size: 36px;
  }

  .content .font-size-xl-38,
  .font-size-xl-38 {
    font-size: 38px;
  }

  .content .font-size-xl-40,
  .font-size-xl-40 {
    font-size: 40px;
  }

  .content .font-size-xl-42,
  .font-size-xl-42 {
    font-size: 42px;
  }

  .content .font-size-xl-44,
  .font-size-xl-44 {
    font-size: 44px;
  }

  .content .font-size-xl-46,
  .font-size-xl-46 {
    font-size: 46px;
  }

  .content .font-size-xl-48,
  .font-size-xl-48 {
    font-size: 48px;
  }

  .content .font-size-xl-50,
  .font-size-xl-50 {
    font-size: 50px;
  }

  .content .font-size-xl-60,
  .font-size-xl-60 {
    font-size: 60px;
  }

  .content .font-size-xl-1-15x,
  .font-size-xl-1-15x {
    font-size: 1.15em;
  }

  .content .font-size-xl-1-25x,
  .font-size-xl-1-25x {
    font-size: 1.25em;
  }

  .content .font-size-xl-1-5x,
  .font-size-xl-1-5x {
    font-size: 1.5em;
  }

  .content .font-size-xl-1-6x,
  .font-size-xl-1-6x {
    font-size: 1.6em;
  }

  .content .font-size-xl-1-75x,
  .font-size-xl-1-75x {
    font-size: 1.75em;
  }

  .content .font-size-xl-2x,
  .font-size-xl-2x {
    font-size: 2em;
  }

  .content .font-size-xl-2-15x,
  .font-size-xl-2-15x {
    font-size: 2.15em;
  }

  .content .font-size-xl-2-25x,
  .font-size-xl-2-25x {
    font-size: 2.25em;
  }

  .content .font-size-xl-2-5x,
  .font-size-xl-2-5x {
    font-size: 2.5em;
  }

  .content .font-size-xl-2-6x,
  .font-size-xl-2-6x {
    font-size: 2.6em;
  }

  .content .font-size-xl-2-75x,
  .font-size-xl-2-75x {
    font-size: 2.75em;
  }

  .content .font-size-xl-3x,
  .font-size-xl-3x {
    font-size: 3em;
  }

  .content .font-size-xl-3-15x,
  .font-size-xl-3-15x {
    font-size: 3.15em;
  }

  .content .font-size-xl-3-3x,
  .font-size-xl-3-3x {
    font-size: 3.3em;
  }
}
